@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 2rem;
}

.card{
    width: 20rem;
    height: 28rem;
    padding: 3rem;
}

.card1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.card2{
    background-color: hsl(184, 100%, 22%);
}

.card3{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

@media all and (max-width: 600px) {
    .card1{
        border-radius: 10px 10px 0 0;
    }
    .card2{
        border-radius: 0 0 0 0;
    }
    .card1{
        border-radius: 0 0 10px 10px;
    }
}

@media all and (max-width: 1023px) {
    .card1{
        border-radius: 10px 0 0 10px;
    }
    .card2{
        border-radius: 0 10px 10px 0;
    }
    .card1{
        border-radius: 0 0 10px 10px;
    }
}

h2{
    color: hsl(0, 0%, 95%);
    margin-top: 2rem;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.2rem;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 1.8rem;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.4rem;
    min-width: 25ch;
}

button{
    margin-top: 2.5rem;
    padding: 0.8rem;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 35px;
    border-style: solid;
    color: hsla(0, 0%, 100%, 0.75);
    border-color: hsla(0,0%,100%,0.75);
}

button:hover,button:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.button1{
    background-color: hsl(31, 77%, 52%);
}

.button2{
    background-color: hsl(184, 100%, 22%);
}

.button3{
    background-color: hsl(179, 100%, 13%);
}

footer{bottom: 2px;}

footer p{
    text-align: center;
    font-size: 0.9rem;
    margin: 3rem;
    color: hsl(210, 3%, 16%)
}
footer a { color: hsl(225, 96%, 69%); }
